/* Default */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    row-gap: 10px;
}


/* TITOLO */
h1 {
    text-align: center;
    font-size: 40px;
    color: #ff0000;
    width: 100%;
    border: 4px double black;
    width: 90%;
}

.button-restart {
    font-size: 30px;
    padding: 10px 20px;
    background-color: #e6955b;
}

/* VITTORIA */
.won {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    background-color: green;
    width: 90%;
    margin: 0 auto;
}

/* SCONFITTA */
.lost {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    background-color: red;
    width: 90%;
    margin: 0 auto;
}

/* RECIPIENTE CONTENUTO */
.recipe-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000000;
    margin: 30px;
    padding: 30px;
    background-color: #ffebcd;
}

/* BOTTONE INIZIA */
.recipe-button {
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: green;
    cursor: pointer;
}

/* RECIPIENTE NUMERI CASUALI */
.recipe-number {
    display: flex;
    gap: 30px;
    font-size: 70px;
}

/* RECIPIENTE SECONDI RIMANENTI */
.recipe-second {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 30px;
}

/* SECONDI RIMANENTI */
.second-remaining {
    text-align: center;
    font-size: 50px;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px 30px;
    background-color: aliceblue;
}

/* INPUT DOVE SCRIVERA' L'UTENTE */
input {
    width: 100px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}

/* BOTTTONE CONFERMA */
.recipe-confirms {
    padding: 10px 20px;
    background-color: aqua;
    cursor: pointer;
}
/* RECIPETE DOPO I 30S */
.recipe-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* NASCONDI */
.d-none {
    display: none;
}